h2{
    color:rgb(10, 28, 134);
    font-weight:bolder;
    text-align:center
}

body{
    background:linear-gradient(to right,rgb(123, 255, 198),rgb(64, 191, 250),rgb(185, 167, 255));
}
  #submit {
    margin-left: 210px;
    float: left;
  }
  
  .clear-all-button {
    margin-right: 220px;
    float: right;
  }
  
  